.grid-container {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
     grid-template-rows: repeat(2, 300px); /* chỉnh chiều cao của ảnh ở thuộc tính này */
    grid-gap: 10px;
}
.picture1{
    grid-area: 1 / 1 / span 2 / span 2;
}
.picture{
    width:100%;
    height: 100%;
    object-fit:cover;
}
.picture:hover{
    cursor: pointer;
    filter:brightness(80%)
}